#embody {


						background-image: url('../images/oi/bg2.jpg');
				background-position:center top;
		background-repeat: no-repeat;
		background-size: 100%;		
			

}

/* Special thing for openinstitute? May not want to commit

#embody.max {
	background-size: 125%;
}

*/

#header {

box-shadow: none;

background: ; /* Old browsers */ 
background: -moz-linear-gradient(top,  0%,  100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,), color-stop(100%,)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  0%, 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  0%, 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  0%, 100%); /* IE10+ */
background: linear-gradient(top,  0%, 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='', endColorstr='',GradientType=0 ); /* IE6-9 */


}


#header .header-text{
position: relative;

}


.logocontainer
{
	display: block;
	float: left;
	width: 294px;
	height: 90px;
	background-image: url('../images/oi/logo.png');
	background-repeat: no-repeat;
	background-size: 100%;
		
}
.logocontainer img
{
	display: none;	
}



#nav {
	
	background: url('../images/oi/wood-texture.jpg');
}

#nav .flat-right
{
    border-right-color: #2E1A0D;
}

#nav li a {

background: -moz-linear-gradient(top, #C4794C 0%, #8C5836 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C4794C), color-stop(100%,#8C5836)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #C4794C 0%,#8C5836 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #C4794C 0%,#8C5836 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #C4794C 0%,#8C5836 100%); /* IE10+ */
background: linear-gradient(top, #C4794C 0%,#8C5836 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C4794C', endColorstr='#8C5836',GradientType=0 ); /* IE6-9 */
box-shadow: none;
border-color: #2E1A0D;


}

#nav li a:hover {


background: -moz-linear-gradient(top, #CB875F 0%, #A3673F 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CB875F), color-stop(100%,#A3673F)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #CB875F 0%,#A3673F 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #CB875F 0%,#A3673F 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #CB875F 0%,#A3673F 100%); /* IE10+ */
background: linear-gradient(top, #CB875F 0%,#A3673F 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CB875F', endColorstr='#A3673F',GradientType=0 ); /* IE6-9 */


}

#module-dropdown span {
}

#module-dropdown span:hover {
}

#nav li.navselected a, #nav li a:active, #module-dropdown.active, #module-dropdown.active:hover {


background: -moz-linear-gradient(top, #CB875F 0%, #A3673F 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CB875F), color-stop(100%,#A3673F)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #CB875F 0%,#A3673F 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #CB875F 0%,#A3673F 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #CB875F 0%,#A3673F 100%) !important; /* IE10+ */
background: linear-gradient(top, #CB875F 0%,#A3673F 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CB875F', endColorstr='#A3673F',GradientType=0 ) !important; /* IE6-9 */

	border: 1px solid #2E1A0D;


}

#module-list {
}

#nav .flat-right {
border-right-color: #C4794C;
}

#header .navlinks {
	background: #7C5032;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
}



#emcontent {

border: 1px solid #8C5836;
}

#main{
box-shadow: none;
}

#left-col{
box-shadow: none;
background: #FBF9ED url('../images/sidebar-shadow.png') right top repeat-y;;
}

#left-col .ui-widget-header {

background: ; /* Old browsers */ 
background: -moz-linear-gradient(top,  0%,  100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,), color-stop(100%,)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  0%, 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  0%, 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  0%, 100%); /* IE10+ */
background: linear-gradient(top,  0%, 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='', endColorstr='',GradientType=0 ); /* IE6-9 */


}

.ui-widget-header
{


background: -moz-linear-gradient(top, #8C5836 0%, #7C5032 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8C5836), color-stop(100%,#7C5032)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8C5836 0%,#7C5032 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8C5836 0%,#7C5032 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8C5836 0%,#7C5032 100%); /* IE10+ */
background: linear-gradient(top, #8C5836 0%,#7C5032 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8C5836', endColorstr='#7C5032',GradientType=0 ); /* IE6-9 */


}

#left-col .ui-widget-content {

box-shadow: none;

border-color: #8C5836;
	
}


#help-content .ui-widget-header {


background: -moz-linear-gradient(top, #8C5836 0%, #7C5032 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8C5836), color-stop(100%,#7C5032)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8C5836 0%,#7C5032 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8C5836 0%,#7C5032 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8C5836 0%,#7C5032 100%); /* IE10+ */
background: linear-gradient(top, #8C5836 0%,#7C5032 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8C5836', endColorstr='#7C5032',GradientType=0 ); /* IE6-9 */



}

#emcontainer #emselectable #main-results-table #tableheader th, .settings-table #tableheader th {

background: ; /* Old browsers */ 


background: -moz-linear-gradient(top,   0%,  100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,), color-stop(100%,)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,   0%, 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,   0%, 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,   0%, 100%); /* IE10+ */
background: linear-gradient(to bottom,   0%, 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='', endColorstr='',GradientType=0 ); /* IE6-9 */



}

/* Table Colors */

#eml-tab-subnav ul li a, #sub-nav li a {

color: #D6D3D3;

}

#eml-tab-subnav ul, #sub-nav {

border-bottom: #8C5836;


	background: #9C8C69; /* Old browsers */ 


background: -moz-linear-gradient(top, #9C8C69 0%,  100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9C8C69), color-stop(100%,)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #9C8C69 0%, 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #9C8C69 0%, 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #9C8C69 0%, 100%); /* IE10+ */
background: linear-gradient(top, #9C8C69 0%, 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9C8C69', endColorstr='',GradientType=0 ); /* IE6-9 */



}



ul#sub-nav li:hover ul li a {


	background: #9C8C69; /* Old browsers */ 


background: -moz-linear-gradient(top, #9C8C69 0%,  100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9C8C69), color-stop(100%,)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #9C8C69 0%, 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #9C8C69 0%, 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #9C8C69 0%, 100%); /* IE10+ */
background: linear-gradient(top, #9C8C69 0%, 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9C8C69', endColorstr='',GradientType=0 ); /* IE6-9 */



}

#eml-tab-subnav ul li.current a, #sub-nav li.current a:hover {
background: #9C8C69;
}

#eml-tab-subnav ul li a:hover, #sub-nav li a:hover, #sub-nav li:hover a, #sub-nav li.edit-columns:hover #column-editor {
background: #A3673F;
}

ul#sub-nav li:hover ul li a:hover {
background: #A3673F;
}


#right-col {
border-left: 1px solid #8C5836;
}

/* Table Hover Color */
#emcontainer #emselectable table tr.emborderhover, #main-results-table tr:hover {
}

.sidebar-media li.currentsubtle {
}

#de-side-nav li.current a, #de-side-nav li.current a:hover {

background: #A3673F; /* Old browsers */
border-bottom: 1px solid #A3673F;
border-top: 1px solid #A3673F;
background: -moz-linear-gradient(left,  #A3673F 0%,  100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#A3673F), color-stop(100%,)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #A3673F 0%, 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #A3673F 0%, 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #A3673F 0%, 100%); /* IE10+ */
background: linear-gradient(to right,  #A3673F 0%, 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A3673F', endColorstr='',GradientType=1 ); /* IE6-9 */

border-bottom: 1px solid #A3673F;
border-top: 1px solid #A3673F;



}

#de-side-nav ul li.current::after, #pdf-thumbnail-sidebar ul li.current::after {

border-left-color: #A3673F;


}

.title-bar {
	
background: #A3673F; /* Old browsers */
border-left: #A3673F;
border-right: #A3673F;
border-bottom: #A3673F;
background: -moz-linear-gradient(top, #A3673F 0%,  100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A3673F), color-stop(100%,)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #A3673F 0%, 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #A3673F 0%, 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #A3673F 0%, 100%); /* IE10+ */
background: linear-gradient(top, #A3673F 0%, 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A3673F', endColorstr='',GradientType=0 ); /* IE6-9 */
border-left: ;
border-right: ;
border-bottom: ;


}

.search-list li.current a.search-href, .sidebar-list li.current a {
background: #9C8C69;
}
